
# Ignore node_modules from both frontend and backend
server/node_modules/
studentmanagement/node_modules/
node_modules/

# Build outputs
studentmanagement/dist/
studentmanagement/build/

# Environment files
*.env

# OS or editor stuff
.DS_Store
*.log
